/Saved/
/Intermediate/
/.idea/
/.vs/
/Content/VigilanteContent/
Content/Military_Free
Content/F_FreeFlameFx_Pack
/Content/__ExternalActors__/
/Content/__ExternalObjects__/
/Binaries/
/.vsconfig/
/Plugins/
/$movedMarker
/Cooked/
/Build/
/DerivedDataCache/
