/Saved/
/Intermediate/
/.idea/
/.vs/
/Content/VigilanteContent/Shared/Map
/Content/VigilanteContent/Shared/Levels
/Content/VigilanteContent/East_Tank_T72b/Level
/Content/VigilanteContent/West_Tank_M1A1Abrams/Level
Content/VehicleTemplate/Maps
Content/Military_Free
Content/F_FreeFlameFx_Pack
/Content/__ExternalActors__/
/Content/__ExternalObjects__/
/Binaries/
/.vsconfig/
/Plugins/
/$movedMarker
/Cooked/
/Build/
/DerivedDataCache/
